{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Lista Mercati</h1>
    
    <style>
        th{
        }
        .price{
            text-align: right;
        }
        .reserved_price{
            font-weight:bolder;
        }
    </style>
{% endblock %}
